body {
  background-color: #dddddd;
  font-family: Consolas;
  margin: 0;
  text-align: center;
}

a:link { color:#30475e;}
a:visited { color:#30475e;}
a:hover { color:#F05454;}
#highlight { color:#F05454; }
#bold { color:#434343; font-weight: bold; font-size: 55px}

header {
  text-align: center;
}

h1 {
  font-family: Consolas;
  font-size: 55px;
  font-color: #30475e;
  opacity: 70%;
}

.item1 { grid-area: header;}
.item0 {grid-area: navbar; text-align:center;}
.item3 { grid-area: main;}
.item5 { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header'
    'navbar'
    'main'
  background-color: #dddddd;

}

.grid-container > div {
  background-color: #dddddd;
  text-align: center;
  padding: 10px 0;
  font-size: 30px;
}

@media screen and (max-width: 200px) {
  body {
    font-family: Courier;
  }
  h1 {
    font-family: Courier;
  }
}
